streamlit==1.58.0
pandas==2.3.3
numpy==1.26.4
scikit-learn==1.2.2
psycopg2-binary==2.9.12
python-dotenv==1.2.2
boto3==1.43.25
google-cloud-aiplatform==1.156.0
google-adk
sqlalchemy
requests==2.34.2
beautifulsoup4==4.13.4
joblib==1.5.3
matplotlib==3.10.9
seaborn==0.13.2
plotly==6.8.0
ucimlrepo